{% if app.session.flashBag.has('message') %}
    <div class="alert alert-success">
        {% for msg in app.session.flashBag.get('message') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}
<button onclick="goBack()">Go Back</button>

{% block javascript %}
<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock %}